asgiref
autopep8
channels
channels-redis
daphne
Django
django-cors-headers
djangorestframework
joblib
numpy
pandas
pycodestyle
python-dateutil
pytz
redis
requests
scikit-learn
scipy
sqlparse
toml
torch
transformers
typing_extensions
urllib3
whitenoise
Pillow
